<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.agh.colonialskirmish"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_planet"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.edu.agh.colonialskirmish.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.edu.agh.colonialskirmish.activity.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName="pl.edu.agh.colonialskirmish.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.colonialskirmish.MainActivity" />
        </activity>
        <activity
            android:name="pl.edu.agh.colonialskirmish.activity.SelectCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_select_card"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="pl.edu.agh.colonialskirmish.activity.SelectPlanetActivity"
            android:label="@string/title_activity_select_planet" >
        </activity>
        <activity
            android:name="pl.edu.agh.colonialskirmish.activity.SelectShipActivity"
            android:label="@string/title_activity_select_ship" >
        </activity>
        <activity
            android:name="pl.edu.agh.colonialskirmish.activity.ShowSpaceAreaActivity"
            android:label="@string/title_activity_show_space_area" >
        </activity>
        <activity
            android:name="pl.edu.agh.colonialskirmish.activity.LoadCardsActivity"
            android:label="@string/title_activity_load_cards" >
        </activity>
    </application>

</manifest>
